
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Global Coronavirus information</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Global</ion-card-subtitle>
      <ion-card-title>Coronavirus cases</ion-card-title>
      <h4>{{cases.cases}}</h4>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Global</ion-card-subtitle>
      <ion-card-title>Deaths</ion-card-title>
      <h4>{{cases.deaths}}</h4>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Global</ion-card-subtitle>
      <ion-card-title>Recovered</ion-card-title>
      <h4>{{cases.recovered}}</h4>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>

