<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 PANDEMIC STATS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div id="container">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <div id="container items">

    <img src="../../assets/Global.png" (click)="global()" style="width: 95%;">
    <p style="text-align: center;">Global</p>

  </div>

  <div>

    <img src="../../assets/Flag.jpg" (click)="flag()" style="width: 80%;">
    <p style="text-align: left;">Countries</p>

  </div>

  <div>

    <img src="../../assets/About.jpg" (click)="about()" style="width: 80%;">
    <p  style="padding-left: 20%;">About</p>

  </div>


</div>

</ion-content>